<div id="carousel" class="carousel carousel-dark slide">

  <div id="get-started" class="col-10 col-md-9 col-lg-8 col-xl-7 col-xxl-4 rounded-5">

    <h1>
      Discover the <br>
      online services <br>
      of <span>OpenTG</span>
    </h1>

    <h5>Always connected: browse and dive into our services and find out what the weather will be like</h5>

    <a id="started" routerLink="/signin" class="btn rounded-pill">Sign In</a>
    <a id="signup" routerLink="/signup" href="#" class="btn rounded-pill">Sign Up</a>
  </div>

  <div class="carousel-inner">
    <app-cover></app-cover>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
