
<div id="about" class="container-fluid text-center">
  <div class="container-fluid w-75">
    <h4 class="subsection">About us</h4>

    <p>
      Welcome to OpenTG, your trusted source for accurate and timely weather forecasts.
      With a user-friendly interface and up-to-date meteorological data,
      OpenTG helps you stay informed about local and global weather conditions.
      Explore interactive maps, real-time radar, and detailed reports to better plan
      your daily activities and trips. Whether you're looking to know if it will be
      sunny or rainy, OpenTG is the perfect companion for all your weather needs.
    </p>

  </div>
</div>
